# Grade task

In [11]:
perc = float(input("please enter a percentage:"))
 
if(perc >=90  and perc <= 100):
    print("grade A")
elif(perc >= 80 and perc <= 89):
    print("grade B")
elif(perc >= 70 and perc <= 79):
    print("grade C")
elif(perc >= 60 and perc <= 69):
    print("grade D")
elif(perc >= 0 and perc <= 59):
    print("grade F")
else:
    ("Please write correct information")

please enter a percentage:89
grade B

# leap year

In [13]:
leap_year = int(input("please enter a  years:"))
if(leap_year % 4 == 0):
    print("the leap year is:",leap_year)
else:
    print("invalid year")

please enter a  years:2004
the leap year is: 2004

# salary task

In [8]:
Total_Sal = int(input("Please enter your total salary:"))

if(Total_Sal >= 50000):
    tax = (Total_Sal/100)*7
    net_sal = Total_Sal-tax
    gross_pay = Total_Sal
    
elif(Total_Sal >= 50000 and Sal <= 100000):
    tax = (Total_Sal/100)*14
    net_sal =Total_Sal-tax
    gross_pay = Total_Sal

elif(Total_Sal >= 100001 and Sal <= 150000):
    tax = (Total_Sal/100)*21
    net_sal = Total_Sal-tax
    gross_pay = Total_Sal

elif(total_Sal >= 150000):
    tax = (Total_Sal/100)*35
    net_sal = Total_Sal-tax
    gross_pay = Total_Sal

else:
    print("invalid salary")
    
print("your total salary is",Total_Sal)
print("your net salary is",net_sal)
print("your gross pay is",gross_pay)

Please enter your total salary:10000

NameError: name 'Sal' is not defined

# Three Numbers task

In [3]:
n1 = int(input("please enter first number:"))
n2 = int(input("please enter second number:"))
n3 = int(input("please enter third number:"))
 
if(n1 >= n2 and n1 >= n3):
    largest = n1
elif(n2 >= n1 and n2 >= n3):
    largest = n2
else:
    largest = n3
print("the largest number is",largest)

please enter first number:78
please enter second number:90
please enter third number:67
the largest number is 90