In [11]:
perc = float(input("please enter a percentage:"))
 
if(perc >=90  and perc <= 100):
    print("grade A")
elif(perc >= 80 and perc <= 89):
    print("grade B")
elif(perc >= 70 and perc <= 79):
    print("grade C")
elif(perc >= 60 and perc <= 69):
    print("grade D")
elif(perc >= 0 and perc <= 59):
    print("grade F")
else:
    ("Please write correct information")

please enter a percentage:89
grade B

# leap year

In [13]:
leap_year = int(input("please enter a  years:"))
if(leap_year % 4 == 0):
    print("the leap year is:",leap_year)
else:
    print("invalid year")

please enter a  years:2004
the leap year is: 2004

# salary task

In [16]:
Sal = input("Please enter your total salary:")
if(Sal == 50000):
    tax = (Sal/100)*7
    net_sal = Sal-tax
    print("your total salary is",Sal)
    print("your net salary is",net_sal)

Please enter your total salary:50000