# task2

In [12]:
number_list = [1,2,3,4,5]

sum=0
for n in number_list:
    sum=n+sum
    print("sum of the number is:",sum)

sum of the number is: 1
sum of the number is: 3
sum of the number is: 6
sum of the number is: 10
sum of the number is: 15

# Task 1:Basics

In [13]:
Fruits = [ "mango","apple","banana","grapes"]
print("first element:",Fruits[0])
print("last element:",Fruits[-1])

first element: mango
last element: grapes

# task4

In [ ]:

for i in range(10):
    num=int(input("please enter a number for adding in list:"))
    num_list.append(num)
    
for n in num_list:
    if(n%2 == 0):
        print("this element is even",n)
    else:
        print("this element is odd",n)

In [ ]:
# task5:

In [ ]:
]

In [27]:
a=['zeeshan','haris','usman','bilal','waqas','arsalan']
for name in a:
    if(name[0] == 'a' or name[0] == 'e' or name[0] == 'i' or name[0] == 'o' or name[0] == 'u'):
        print("the name start with vowels:",name)

the name start with vowels: usman
the name start with vowels: arsalan